@import 'normalize.styl'
@import 'typography.styl'

body
  background offwhite

.photo-grid
  display flex
  flex-flow row wrap
  justify-content space-between

.grid-figure
  width 30%
  margin 0 auto 30px auto
  padding 10px
  box-shadow 0 0 2px black
